<div ng-controller="advance_controller">		
	<p>Fetch Records:
		<input type="number" ng-model="fetch_number" >
		<input type="submit" ng-click="fetch()" value="Fetch">
	</p>
	<p id="error_message" ng-hide="error">Enter a valid number</p>
	<div ng-hide="table" >
		<p> Search: <input type="text" ng-model="filter_input"></p>
		  <ul ng-repeat="(key, value) in random_records | groupBy:'userId'">
		  	<strong>UserId: </strong>{{ key }}<br><br><br>
		  	<div ng-repeat="x in value | filter: filter_input">
			  	<li>
			  		<strong>Title: </strong>{{ x.title }}<br>
			    	<strong>Body: </strong>{{ x.body }}<br><br>
			    </li>
		    </div>
		  </ul>
	</div>
</div>