<!DOCTYPE html>
<html>
	<head>
		<title>AngularJs Assignment</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-app="basic" ng-init="add_row=true;table=true" ng-controller="basic_controller">
		<h2 style="text-align: center"> 
			<a href="./basic.html">BASIC</a>
			<a href="./advance.html">ADVANCE</a>
		</h2>
		<div class="add_user" style="height:160px;">
			<input type="button"  ng-click="add_row=false" value="Add new Record" ></input>
			<form ng-hide="add_row" novalidate >
				<p>Name:
				  <input type="text" name="user" ng-model="user_name" required>
				</p>
				<p>Email:
				  <input type="email" name="email" ng-model="email" required>
				</p>
				<p>
				  <input type="submit" ng-click="table=false;add_row=true;addPerson()" value="Submit">
				</p>
			</form>
		</div>
		<table ng-hide="table">
			<thead>
			  <tr>
		           <th>No.</th>
		           <th>Name</th>
		           <th>Email</th>
		           <th>Action</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in people">
					<td>{{ $index+1 }}</td>
					<td>{{ person.name }}</td>
					<td>{{ person.email }}</td>
					<td>
						<button type="button" ng-click="remove($index)">Delete</button>
						<button type="button" ng-click="edit($index)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
		<script src= "angular.min.js"></script>
		<script src= "angular-routes.js"></script>
		<script src= "basic.js"></script>
		<script src= "advance.js"></script>
	</body>
</html>